@model CarsIndexViewModel

<partial name="_Notification" />
<div class="row mt-5 justify-content-center">
    <div class="col-3">
        <h1 class="text-primary text-black-50">Cars in stock</h1>
    </div>
    <div class="col-2" style="margin-top:-0.25rem">
        <a asp-controller="Car" asp-action="Create" class="btn btn-outline-success">
            Add New Car
        </a>
    </div>
</div>
<div class="container my-4">
    <form method="get">
        <div class="row justify-content-center">
            <div class="col-lg-3">
                <select asp-for="@Model.BrandFilterApplied" asp-items="@Model.Brands" class="form-select" style="background-color:#fff"></select>
            </div>
            <div class="col-lg-3">
                <select asp-for="@Model.ModelFilterApplied" asp-items="@Model.Models" class="form-select" style="background-color:#fff"></select>
            </div>
            <div class="col-lg-3">
                <select asp-for="@Model.GenerationFilterApplied" asp-items="@Model.Generations" class="form-select" style="background-color:#fff"></select>
            </div>
            <div class="col-lg-3">
                <select asp-for="@Model.BodyTypeFilterApplied" asp-items="@Model.BodyTypes" class="form-select" style="background-color:#fff"></select>
            </div>
        </div>
        <div class="row justify-content-center mt-2">
            <div class="col-lg-3">
                <select asp-for="@Model.DriveTypeFilterApplied" asp-items="@Model.DriveTypes" class="form-select" style="background-color:#fff"></select>
            </div>
            <div class="col-lg-3">
                <select asp-for="@Model.TransmissionFilterApplied" asp-items="@Model.Transmissions" class="form-select" style="background-color:#fff"></select>
            </div>
            <div class="col-lg-2 mt-1">
                <button type="submit" class="btn btn-outline-dark" style="width:12rem">
                    Apply
                </button>
            </div>
        </div>
    </form>
</div>

@if (Model.CarVModels.Count() == 0)
{
    <table class="table table-striped" style="width:95%; margin: 3rem auto">
        <thead style="border-top: solid 1px; border-bottom: solid 2px; vertical-align: middle; margin-top: 1rem">
            <tr>
                <th>
                    Car Name
                </th>
            </tr>
        </thead>
    </table>
}
else
{
    <table class="table table-striped" style="width:95%; margin: 3rem auto">
        <thead style="border-top: solid 1px; border-bottom: solid 2px; vertical-align: middle; margin-top: 1rem">
            <tr>
                <th>Id</th>
                <th>Picture</th>
                <th>Brand & Model</th>
                <th>Generation</th>
                <th>Engine </th>
                <th>Transmission</th>
                <th>Price Initial</th>
                <th>Year</th>
                <th width="110px">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model.CarVModels)
            {
                <tr>
                    <td width="5%">
                        @obj.CarId
                    </td>
                    <td width="15%" style="padding:0.3rem">
                      <div>
                        <a asp-controller="Car" asp-action="Index" asp-route-id="@obj.CarId">
                            <img src=@obj.PictureUrl class="float-start" style="width:100%" />
                        </a>
                    </div>
                    </td>
                    <td width="20%">
                        <p>@obj.Brand @obj.Model</p>
                    </td>
                    <td width="15%">
                        @obj.Generation
                    </td>
                    <td width="10%">
                        @obj.EngineFuelType
                    </td>
                    <td width="10%">
                        @obj.Transmission
                    </td>
                    <td width="10%">
                        @obj.PriceInitial
                    </td>
                    <td width="5%">
                        @obj.Year.Year.ToString()
                    </td>
                    <td width="10%" align="center">
                        <div class="btn-toolbar justify-content-between" role="toolbar" style="width:6rem">
                            <a asp-controller="Car" asp-action="Edit" asp-route-id="@obj.CarId" class="btn btn-outline-primary">
                                <i class="bi bi-wrench"></i>
                            </a>

                            <form method="post" asp-controller="Car" asp-action="Delete" asp-route-id="@obj.CarId">
                                <input asp-for="@obj.PictureUrl" hidden />
                                <button type="submit" class="btn btn-outline-danger">
                                    <i class="bi bi-trash3"></i>
                                </button>
                            </form>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}