@model CarsIndexViewModel

<div class="">
	<div class="container mt-5">
		<form method="get">
			<div class="row justify-content-center">
				<div class="col-lg-3">
					<select asp-for="BrandFilterApplied" asp-items="@Model.Brands" class="form-select" style="background-color:#fff"></select>
				</div>
				<div class="col-lg-3">
					<select asp-for="ModelFilterApplied" asp-items="@Model.Models" class="form-select" style="background-color:#fff"></select>
				</div>
				<div class="col-lg-3">
					<select asp-for="GenerationFilterApplied" asp-items="@Model.Generations" class="form-select" style="background-color:#fff"></select>
				</div>
				<div class="col-lg-3">
					<select asp-for="@Model.BodyTypeFilterApplied" asp-items="@Model.BodyTypes" class="form-select" style="background-color:#fff"></select>
				</div>
			</div>
			<div class="row justify-content-center mt-2">
				<div class="col-lg-3">
					<select asp-for="@Model.DriveTypeFilterApplied" asp-items="@Model.DriveTypes" class="form-select" style="background-color:#fff"></select>
				</div>
				<div class="col-lg-3">
					<select asp-for="@Model.TransmissionFilterApplied" asp-items="@Model.Transmissions" class="form-select" style="background-color:#fff"></select>
				</div>
				<div class="col-lg-1 mt-1">
					<button type="submit" class="btn btn-outline-dark" style="width:12rem">
						Apply
					</button>
				</div>
			</div>
		</form>
	</div>
</div>

<div class="mt-5" style="width:90%; margin: auto">
	<div class="row  pb-3">
		@foreach (var product in Model.CarVModels)
		{
			<div class="col-lg-3 col-md-6">
				<div class="row p-2">
					<div class="col-12 p-1">
						<div class="card" style="border: solid #343a40 1px;border-radius: unset">
							<img src="@product.PictureUrl" class="card-img-top" style="border-radius:unset"/>

							<div class="card-body">
								<div class="pl-1">
									<p class="card-title h5 text-primary">@product.Brand | @product.Model </p>
									<p class="card-title text-secondary"><b>@product.Generation</b></p>
									<p class="card-title text-primary"><b>@product.Year.Year.ToString()</b></p>
									<p class="card-title text-muted"><b>@product.EngineFuelType</b></p>
								</div>
								<div class="pl-1">
									<p><sub>auction</sub> Price: from <b><span class="text-success">$</span>@product.PriceInitial.ToString("0.00")</b></p>
								</div>
							</div>
						</div>
						<div style="margin-top: 1rem">
							<a asp-action="Details" type="button" class="btn btn-outline-dark form-control" asp-route-id="@product.CarId">
								Details
							</a>
						</div>
					</div>
				</div>
			</div>
		}
	</div>
</div>

@*@section Scripts {
	<partial name="_ValidationScriptsPartial" />
	<script>
		$(document).ready(function(){
			$('#BrandFilterApplied').change(function () {
				var selection = $('#BrandFilterApplied Option:Selected').text();
				if(selection!='All Brands'){
					$('#ModelFilterApplied').show();
				}
				else{
					$('#ModelFilterApplied').hide();
				}
			})
		})
	</script>
}*@